.main{
    width: 200px;
    height: 200px;
    background: red;
    animation-name: animation;
    border-bottom: black solid;
    animation-duration: 2s;
}

@keyframes animation{
    0%{
        transform: scale(0.5);
    }

    50%{
        transform: rotate(360deg);
    }
    

}
    



