*{
    margin: 0;
    padding: 0;
}

.navdiv{
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 5px;
    
    box-shadow: 0 8px 11px  ;
    
}
.navbar ul{
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    background: white;
    height: 150px;
    align-items: center;
    
}

.navbar ul button{
    list-style:  none;
    font-size:20px;
    background: navy;
    border-radius: 2px;
    
    
}

.navbar ul  a{
    text-decoration: none;
    color: white;
}

.navdiv img{
    height: 150px;
}


section{
    padding: 10px;
}
.container{
    position: relative;
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    background: url(img/background1.avif);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    


}
.container img{
    width: 800px;
    
    height:500px;
   
    
    

}
.home-text{
    display: flex;
    padding: 10px;
}
.home-text img{
    height: 300px;
}
.img{
    display: flex;
    padding: 10px;
   
    
}
.img img{
    height: 300px;
}
.box{
    
    display: inline-block;
    border-radius: 5px;
    background: grey;
}
.box img{
    width: 200px;
}
.box p{
    font-size: 20px;
}
.card-container{
   
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
        padding-bottom: 20px;
        }
        
       

