body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blue;
}


.animation{
    width: 200px;
    height: 200px;
    background: red;
    margin-top: 20px;
    animation-name: ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes ani{
    50% {
        transform: scale(0.5);
    }
    80% {
        transform: rotate(360deg);
    }
}

